* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    
}

.main-div .food-text h1{
    font-size: 120px;
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    font-size: 28px;

}
ul{
    display: flex;

}
ul li{
    list-style: none;
    margin-inline: 30px;
    

}
ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}


marquee {
    color: white;
    font-size: 16px;
    background-color: rgba(250, 10, 10, 0.801);
    position: sticky;
    top: 0;
    padding: 10px;
}

header {
    background-color: #FF6347;
    padding: 20px;
    text-align: center;
    color: white;
    
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}

main {
    padding: 20px;
    
}

.order-section {
    text-align: center;
    
}

.order-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    
}

.form-group {
    margin-bottom: 20px;
    
}

form label {
    display: block;
    margin-bottom: 5px;
    
}

form select,
form input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF6347;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}

form button:hover {
    background-color: #FF4500;
    
}


/* Footer CSS */
footer {
    background-color: #111;
    text-align: center;
}

.foodcontainer {
    padding: 20px;
}

.socialmediaicons {
    display: flex;
    justify-content: center;
}

.socialmediaicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialmediaicons a i {
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialmediaicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialmediaicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footernavbar ul {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footernavbar ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernavbar ul li a:hover {
    opacity: 1;
    text-decoration: underline;
    color: rgba(250, 10, 10, 0.801);
}

.footer-bottom {
    background-color: #000;
    padding: 10px;
}

.footer-bottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400px;
    margin: 0 5px;
}

.first-page-footer {
    width: 100%;
}
